## National Technical University of Athens
### School of Electrical & Computer Engineering
### Course: **Computational Cryptography**
##### *9th Semester, 2021-2022*

<br>

###### Full Name: Christos Tsoufis
###### A.M.: 031 17 176

<br>

#### Complimentary Code for Homework #2

### Installation of packages & libraris

In [1]:
import random
import math
from math import gcd
import time
from sympy.ntheory.factor_ import totient as phi

### Exercise 5

The following function is used to calculate the repeated squaring process.

In [2]:
def Squaring(a, n, m):
  y = 1
  x = a%m
  while (n > 0):
    if (n%2 != 0):
      y = (y*x)%m
    x = (x**2)%m
    n = n//2
  
  return y

The following function is used to calculate Fermat's Little Theorem.

In [3]:
def fermat(a, iter):
  w = 2
  for _ in range(iter):
    if (Squaring(w, a-1, a) != 1):
      
      return False
    w = w + 1
  
  return True

The following function is the Main function that is used to run the given examples. It returns True if the number is prime number or False if it is not. It takes approximately 1 minute to run.

In [4]:
if __name__ == "__main__":
  print("A boolean value is returned that indicates if the number is prime.")
  for i in [67280421310721, 170141183460469231731687303715884105721, 
            (2**2281)-1, (2**9941)-1, (2**19939)-1]:
    print(fermat(i, 10))
    print()

A boolean value is returned that indicates if the number is prime.
True

False

True

True

False

### Exercise 6

The following function is used to calculate φ.

In [5]:
def phi(n):
  result = n 
  p = 2
  while (p*p <= n):
    if n%p == 0:
      while (n%p == 0):
        n = n//p
      result = result*(1.0 - (1.0/float(p)))
    p += 1
  
  if n > 1:
    result = result*(1.0 - (1.0/float(n)))
  
  return int(result)

The following function is used to calculate the number of portals.

In [6]:
def portal_calculator(Z, M):
  m = pow(10, M)
  phi1 = phi(pow(10, M))
  phi2 = phi(phi1)
  phi3 = phi(phi2)
  br1 = 10%phi3
  meros1 = pow(100, phi3 + br1, m)
  meros2 = pow(1998000, phi2 + meros1, m)
  res = pow(Z, phi1 + meros2, m)
  
  return res

In [7]:
Z = 51234577
M = 10
print("The # of Portals for M =", M, "& Z =", Z, "is: ", portal_calculator(Z, M))
print()

Z = 548
M = 3
print("The # of Portals for M =", M, "& Z =", Z, "is: ", portal_calculator(Z, M))
print()

The # of Portals for M = 10 & Z = 51234577 is:  1

The # of Portals for M = 3 & Z = 548 is:  376

The following function is used to calculate the power of a given number

In [8]:
def power(base, exp):
  if exp < 0:
    return 1/power(base, -exp)
  ans = 1
  while exp:
    if exp&1:
      ans = ans*base
    exp = exp >> 1
    base = base*base
  
  return ans

The following function is the first and fast implementation of "rattatak".

In [9]:
def fast_rattatak(Z, M):
  PM = power(10, M)
  exp = phi(PM) + Squaring(1998000, power(100, 10), phi(PM))
  
  return Squaring(Z, exp, PM)

The following function is the second implementation of "rattatak".

In [10]:
def rattatak(Z,M):
  PM = power(10, M)
  d = math.gcd(Z, PM)

  if d == 1:
    exp = Squaring(199800, power(100, 10), phi(PM))
    
    return Squaring(Z, exp, PM)
  else:
    ZZ = Z//d
    exp = Squaring(199800, power(100, 10), phi(PM))
    res1 = Squaring(ZZ, exp, PM)
    PMD = PM//d
    exp = (Squaring(199800, power(100, 10), phi(PMD)) + PMD - 1)%PMD
    res2 = Squaring(d, exp, PMD)
    
    return (d*res1*res2)%PM

In [11]:
M = 10
Z = 51234577
PM = power(10, M)
print("For M =", M, "& Z =", Z, "it will be:")
print(phi(PM) + Squaring(1998000, power(100, 10), phi(PM)))
print(phi(PM) + Squaring(199800, power(100, 10), phi(PM)))
print(Squaring(10, power(100, 10), phi(PM)))
print(fast_rattatak(Z, M))
print("--------------------------------")
print()

Z = 548
M = 3
PM = power(10, M)
print("For M =", M, "& Z =", Z, "it will be:")
print(phi(PM) + Squaring(1998000, power(100, 10), phi(PM)))
print(phi(PM) + Squaring(199800, power(100, 10), phi(PM)))
print(Squaring(10, power(100, 10), phi(PM)))
print(fast_rattatak(Z, M))
print("--------------------------------")
print()

For M = 10 & Z = 51234577 it will be:
4000000000
4000000000
0
1
--------------------------------

For M = 3 & Z = 548 it will be:
400
400
0
376
--------------------------------

The following cell shows which function is better for the "rattatak's travel".

In [20]:
for _ in range(10):
  Z = random.randrange(1000000)
  M = random.randrange(1, 100)
  res1 = rattatak(Z, M)
  res2 = fast_rattatak(Z, M)
  if (res1 != res2):
    print("test({", Z, "}, {", M, "}) = {", res1, "} or {", res2, "} or neither")

test({ 533796 }, { 79 }) = { 3040030485132066962785726510585101187016060719038489282430472096320179652263936 } or { 293118358204994286250218470959029406779374763086566286034399801672843852251136 } or neither
test({ 590533 }, { 86 }) = { 49173508143017804591141612942757765913175155828764923242255336378007280256850098913281 } or { 89254176577978742687221952363796814570743649789815491417238518459053497140215986257921 } or neither
test({ 342393 }, { 78 }) = { 499226904620775876078634047883531741082381658349724310083503057207575340646401 } or { 82914335528300721198097867291849311153582358175912500472562212104251323187201 } or neither
test({ 477468 }, { 92 }) = { 49701071646449760142502687954658237380734474072349512376829405906981003907066673887157682176 } or { 13478402815185622021235949534617612873928966716722922658794554160328687205978270167388389376 } or neither
test({ 967217 }, { 78 }) = { 872660409776089937853590703085781486225624240841822569245514318339144081735681 } or { 91202708131045848782145829230874384485770302410557127007733362666430623907841 } or neither

The following function is used to calculate if the numbers are co-primes.

In [13]:
def prime(base, n, c):
  d = math.gcd(base, n)
  
  print("> Not Co-primes: ", (base, n, c), d, base//d)
  exp  = (pow(1998000, power(100, 10), phi(n)) - c)%n
  res1 = pow(base//d, exp, n)
  print("> Result: res1 =", res1)
  print()
  nd = n//d
  
  if math.gcd(d, n//d) == 1:
    exp = (pow(1998000, power(10, 20), phi(nd)) - (c + 1))%nd
    res2 = pow(d, exp, nd)
    
    return (d*res1*res2)%n
  else:
    return (d*res1*(prime(d, nd, c + 1)))%n

The following function is the Final implementation of "rattatak".

In [14]:
def rattatak_final(Z, M):
  PM = power(10, M)
  d = math.gcd(Z, PM)
  
  if d == 1:
    exp = Squaring(199800, power(100, 10), phi(PM))
    
    return Squaring(Z, exp, PM)
  else:
    return prime(Z, PM, 0)

In [15]:
if __name__ == "__main__":
  Z = 1001083624
  M = 10

  print("For M =", M, "& Z =", Z, ":")
  print()
  print("Fast Rattatak Function: ", fast_rattatak(Z, M))
  print("---------------------------------------")
  print()
  print("Normal Rattatak Function: ", rattatak(Z, M))
  print("---------------------------------------")
  print()
  print("Final Rattatak Function: ", rattatak_final(Z, M))
  print("---------------------------------------")
  print("=====================================================")

  Z = 548
  M = 3
  print("For M =", M, "& Z =", Z, ":")
  print()
  print("Fast Rattatak Function: ", fast_rattatak(Z, M))
  print("---------------------------------------")
  print()
  print("Normal Rattatak Function: ", rattatak(Z, M))
  print("---------------------------------------")
  print()
  print("Final Rattatak Function: ", rattatak_final(Z, M))
  print("---------------------------------------")

For M = 10 & Z = 1001083624 :

Fast Rattatak Function:  1787109376
---------------------------------------

Normal Rattatak Function:  1787109376
---------------------------------------

> Not Co-primes:  (1001083624, 10000000000, 0) 8 125135453
> Result: res1 = 1

> Not Co-primes:  (8, 1250000000, 1) 8 1
> Result: res1 = 1

> Not Co-primes:  (8, 156250000, 2) 8 1
> Result: res1 = 1

> Not Co-primes:  (8, 19531250, 3) 2 4
> Result: res1 = 8392334

Final Rattatak Function:  9879186432
---------------------------------------
=====================================================
For M = 3 & Z = 548 :

Fast Rattatak Function:  376
---------------------------------------

Normal Rattatak Function:  376
---------------------------------------

> Not Co-primes:  (548, 1000, 0) 4 137
> Result: res1 = 1

> Not Co-primes:  (4, 250, 1) 2 2
> Result: res1 = 62

Final Rattatak Function:  568
---------------------------------------

### Exercise 7

The following function is used to calculate the Super Exponential values.

In [16]:
def superExponential(a, n, tupl):
  t, f = tupl
  
  if n == 0:
    return 1
  
  if (t == 0 and f == 0):
    return 0
  
  elif f == 0:
    nt = t - 1
    nf = f
  
  else:
    nt = t + 1
    nf = f - 1
  
  return Squaring(a, superExponential(a, n-1, (nt, nf)), (2**t)*(5**f))

In [17]:
def Wrapper(a, n, digits):
  return superExponential(a, n, (digits, digits))

The following function is the Main function that is used to run the given examples. It returns the last 17 digits of the given example 1707 ↑↑ 1783.

In [18]:
if __name__ == "__main__":
  print(Wrapper(1707, 1783, 17))

70080500540924243